@import "tailwindcss";



/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#images::-webkit-scrollbar {
  height: 8px; /* Adjust the thickness */
}

#images::-webkit-scrollbar-thumb {
  background: var(--color-secondary-900); /* Subtle color */
  border-radius: 10px;
}

#images::-webkit-scrollbar-track {
  background: transparent; /* No background */
}


@layer components {
  .centered {
    @apply flex items-center justify-center flex-col
  }

}

html {
  scroll-behavior: smooth;
}

/* DRAWER CSS */

.EZDrawer .EZDrawer__checkbox {
  display: none;
}

.EZDrawer .EZDrawer__checkbox:checked~.EZDrawer__overlay {
  display: block;
  opacity: 1;
}

.EZDrawer .EZDrawer__checkbox:checked~.EZDrawer__container {
  visibility: visible;
  transform: translate3d(0, 0, 0) !important;
}

.EZDrawer .EZDrawer__overlay {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.EZDrawer .EZDrawer__container {
  position: fixed;
  visibility: hidden;
  background: transparent;
  transition: all;
}